Repository kityandhero/antd-management-fast-template: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, npm run lint-staged:js, prettier --write

style: update
  .stylelintrc.js
  package.json
Due: npm run lint-staged:js, prettier --write

style: update
  .eslintrc.js
  src/global.less
Due: stylelint, npm run lint-staged:js, prettier --write

style: update
  .eslintignore
  .eslintrc.js
  .npmrc
  package.json
  src/components/GlobalHeader/AvatarDropdown.jsx
  src/components/HeaderSearch/index.jsx
  src/models/entrance.js
  src/models/global.js
  src/pages/CurrentOperator/Setting/BasicInfo/index.jsx
  src/pages/CurrentOperator/Setting/Password/index.jsx
  src/pages/Entrance/index.jsx
  src/services/entrance.js
  yarn.lock
Due: npm run lint-staged:js, prettier --write

style: update
  src/components/GlobalHeader/NoticeIconView.jsx
  src/components/GlobalHeader/RightContent.jsx
  src/components/HeaderDropdown/index.jsx
  src/components/NoticeIcon/NoticeList.jsx
  src/components/NoticeIcon/index.jsx
  src/customSpecialComponents/ArticleStatus/index.jsx
  src/customSpecialComponents/CustomAssembly/index.js
  src/customSpecialComponents/FunctionSupplement/Whether/index.jsx
  src/defaultSettings.js
  src/global.jsx
  src/layouts/BasicLayout.jsx
  src/layouts/SecurityLayout.jsx
  src/layouts/UserLayout.jsx
  src/models/currentOperator.js
  src/models/notice.js
  src/pages/404.jsx
  src/pages/Authorized.jsx
  src/pages/CurrentOperator/Setting/index.jsx
  src/pages/Welcome.jsx
  src/utils/storageAssist.js
Due: npm run lint-staged:js, prettier --write

style: update
  package.json
  yarn.lock
Due: prettier --write

style: update
  config/config.js
  package.json
  src/utils/storageAssist.js
Due: npm run lint-staged:js, prettier --write

style: update
  package.json
Due: prettier --write

style: update
  package.json
  temp/package.json
Due: prettier --write

docs: update
  .gitignore
Due: none

refactor: update
  .vscode/settings.json
  package.json
Due: prettier --write

refactor: update
  src/pages/Entrance/Assist/action.js
  src/pages/Entrance/index.jsx
  src/pages/Entrance/style.less
Due: stylelint, npm run lint-staged:js, prettier --write

style: update
  .prettierignore
Due: none

style: update
  config/router.config.js
  src/layouts/EntranceLayout.jsx
  src/layouts/EntranceLayout.less
Due: stylelint, npm run lint-staged:js, prettier --write

style: update
  src/layouts/EntranceLayout.jsx
Due: npm run lint-staged:js, prettier --write

refactor: update
  package.json
  src/components/GlobalHeader/AvatarDropdown.jsx
Due: npm run lint-staged:js, prettier --write

refactor: update
  package.json
Due: prettier --write

refactor: update
  package.json
  src/components/GlobalHeader/AvatarDropdown.jsx
  src/components/GlobalHeader/RightContent.jsx
  src/components/HeaderSearch/index.jsx
  src/components/NoticeIcon/index.jsx
  src/customSpecialComponents/CustomAssembly/index.js
  src/pages/CurrentOperator/Setting/BasicInfo/index.jsx
  src/pages/CurrentOperator/Setting/index.jsx
  src/pages/Entrance/index.jsx
  temp/package.json
Due: npm run lint-staged:js, prettier --write

refactor: update
  package.json
  src/components/GlobalHeader/AvatarDropdown.jsx
  src/customSpecialComponents/ArticleStatus/index.jsx
  temp/package.json
Due: npm run lint-staged:js, prettier --write

refactor: update
  src/customSpecialComponents/DataTabContainerSupplement/index.jsx
Due: npm run lint-staged:js, prettier --write

refactor: daupte
  config/config.development.js
  config/config.local.js
  config/config.production.js
  config/extraScript.development.js
  config/extraScript.production.js
  package.json
Due: npm run lint-staged:js, prettier --write

refactor: update
  src/pages/Entrance/Assist/action.js
Due: npm run lint-staged:js, prettier --write

refactor: update
  .eslintrc.js
  package.json
  src/components/GlobalHeader/NoticeIconView.jsx
  src/components/GlobalHeader/RightContent.jsx
  src/components/HeaderDropdown/index.jsx
  src/components/HeaderSearch/index.jsx
  src/components/NoticeIcon/NoticeList.jsx
  src/components/NoticeIcon/index.jsx
  src/customSpecialComponents/CustomAssembly/index.js
  src/customSpecialComponents/DataTabContainerSupplement/index.jsx
  src/customSpecialComponents/FunctionSupplement/Whether/index.jsx
  src/defaultSettings.js
  src/global.jsx
  src/layouts/BasicLayout.jsx
  src/layouts/BlankLayout.jsx
  src/layouts/EntranceLayout.jsx
  src/layouts/SecurityLayout.jsx
  src/models/currentOperator.js
  src/models/entrance.js
  src/models/global.js
  src/models/notice.js
  src/pages/404.jsx
  src/pages/Authorized.jsx
  src/pages/CurrentOperator/Setting/Password/index.jsx
  src/pages/Entrance/Assist/action.js
  src/pages/Entrance/index.jsx
  src/pages/Welcome.jsx
  temp/package.json
Due: npm run lint-staged:js, prettier --write

refactor: update
  src/layouts/EntranceLayout.jsx
Due: npm run lint-staged:js, prettier --write

Path conditions:
  stylelint: any of: **/*.less
  npm run lint-staged:js: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
